*{
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
}
body{
	font-family: 'Baloo Tamma 2', cursive;
}
/** HEADER **/
#header-nav {
	background-color: #999999;
	border-radius: 0;
	border-color: black;
	border-width:3px 0px 3px 0px;
}
.navbar-brand{
	padding: 10px;
}

.navbar-brand h1{/** Name of the restaurant **/
	margin: 20px 0px 20px 0px ;
	color: black;	
  	font-size: 1.5em;
  	font-weight: bold;
  	margin-top: 0;
  	margin-bottom: 0;
  	
}
.navbar-brand a:hover{
	text-decoration: none;
}
#nav-list {
	margin-top: 0px;
	margin-bottom: 0px;
}
#nav-list li{
	padding: 0px;
}
#list-el1 {
	border-bottom: solid white;
}
#list-el2 {
	border-bottom: solid white;
}
#nav-list a {
	color: white;
	text-align: center;
	background-color: black;
}
#nav-list a:hover {
	background-color: #ff6326;
	color: black;
}
#nav-list a span{
	font-size: 1.8em;	
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
	border: 1.5px solid black;

}	
.navbar-header button.navbar-toggle {
	clear: both;
	margin-top:-45px;
}
/**End of HEADER **/

/* Menu */

.category-title {
	background-color: #999999;
	overflow: hidden;
	height: 1000px;
	color: black;
	position: relative;
	padding: 0px 15px;
}
a:visited{
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}






							